/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');



// fonts

$font-family-monospace: "Source Code Pro";

/*-- scss:rules --*/

code.sourceCode {
  font-size: 1.3em;
}

.opacity-00 {
  opacity: 0%;
}

.opacity-33 {
  opacity: 33%;
}

.opacity-67 {
  opacity: 67%;
}

.border {
  border: solid #777;
  border-radius: 8px;
}

.margin-4 {
  margin: 4px;
}

.padding-4 {
  padding: 4px;
}

.height-auto {
  height: auto;
}

.display-flex {
  // ovverride quarto's use of 'display: initial;' for div.columns
  display: flex !important; 
}

.callout pre > code {
    // ovverride quarto font size for code callouts
    // there is font-size 0.7em somehere in the chain,
    // this hack is designed to "cancel" that:
    font-size: 1.43em !important;
}